<div layout="vertical" layout-fill>
    <md-content>
        <header ng-include="'components/navbar/navbar.html'"></header>
        <section class="videogular-container">
            <!-- <pre>{{config|json}}</pre> -->
            <videogular vg-theme="config.theme.url">
                <vg-media vg-src="config.sources" vg-tracks="config.tracks" vg-native-controls="true">
                </vg-media>
            </videogular>
            <!-- <md-button class="md-primary" ng-click="showDialog($event)" md-ink-ripple md-ink-ripple-button>Launch Dialog</md-button> -->
    
    </section>
    <div class="techs" layout-align="center">
        <md-card ng-repeat="awesomeThing in awesomeThings | orderBy:'rank'">
            <div class="thumbnail">
                <img class="pull-right" ng-src="assets/images/{{awesomeThing.logo}}" alt="{{awesomeThing.title}}">
                <div class="caption">
                    <h3>{{awesomeThing.title}}</h3>
                    <p>{{awesomeThing.description}}</p>
                    <p><a ng-href="{{awesomeThing.url}}">{{awesomeThing.url}}</a></p>
                </div>
            </div>
        </md-card>
    </div>
    <footer>
        <md-toolbar layout="row" layout-align="center center">
            <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
        </md-toolbar>
    </footer>
    </md-content>
</div>
